body {
    color: "white";
  }

  .jumbotron {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200325/pngtree-blue-gradient-color-corona-virus-creative-background-image_332733.jpg");
    background-size: cover;
    opacity: 0.5;
    color: #fff;
    text-align: center;
    text-emphasis-color: white;
  }

.sansserif {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.bk-color{
    background-color: rgba(57, 192, 237, 0.6);
}

.bubble-chart{
    margin-top: 30px;
}

.gauge-chart{
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.border {
    border: 30px solid black;
  }